//variables

//tamaño de pantalla
$_breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//colores
$color_ppal: #1d2951;
$color_sec: #0291FF;
$color_white: #ffffff;
$color_black: #000000;
//color: #0f97fc;
$color_bg_banner:#3c33334a;;